[package]
name = "flywheel-compiler"
version = "0.1.0"
edition = "2021"

[dependencies]
flywheel-common = { path = "../flywheel-common" }
parking_lot = "0.12.3"
camino = "1.1.9"
memchr = "2.7.4"
tokio = { version = "1.42.0", features = ["parking_lot", "rt-multi-thread", "sync", "fs"]}
futures-util = { version = "0.3.31", default-features = false, features = ["std"] }
normpath = "1.3.0"
im = "15.1.0"
triomphe = { version = "0.1.14", default-features = false, features = ["std", "stable_deref_trait"] }


[lints.clippy]
large_futures = { level = "warn" }
